In [1]:
#import all libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.model_selection import RandomizedSearchCV
from hyperopt import tpe, hp, fmin, STATUS_OK,Trials

In [3]:
#Load titanic.csv file.

In [4]:
df=pd.read_csv('titanic.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#Select 'Pclass','SibSp','Parch','Fare' columns as data. 
#Select ‘Survived’ column as label.

In [9]:
X = df[['Pclass','SibSp','Parch','Fare']]
y = df.Survived

In [10]:
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [11]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [12]:
y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [13]:
#train test split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [15]:
#Apply SVM to classify the data.

In [16]:
model = SVC(C=10, gamma=0.0001,kernel='rbf')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [17]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [18]:
accuracy_score(y_test, y_pred)

0.6457399103139013

In [19]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.61      0.97      0.75       122
           1       0.87      0.26      0.40       101

    accuracy                           0.65       223
   macro avg       0.74      0.61      0.57       223
weighted avg       0.73      0.65      0.59       223

In [20]:
#it shows that acuracy is only 65%.

In [21]:
#Use 5-Fold Cross Validation to generalise the model accuracy

In [22]:
model = svm.SVC()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.62011173 0.66853933 0.66853933 0.66292135 0.70786517]
Average Cross Validation score :0.6655953800765803

In [23]:
#Use random search and hyperopt packages to identify the best possible SVM model from
#the following search space.
#'C': [0.1, 1, 10, 100, 1000],
#'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
#'kernel': ['rbf']

In [ ]:
#RANDOM SEARCH

In [24]:
# defining parameter range
param_random = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']}

In [25]:
random_search=RandomizedSearchCV(estimator = SVC(), param_distributions=param_random,verbose=1, n_jobs=-1,
                            n_iter=20)
random_result = random_search.fit(X_train, y_train)
print('Best Score: ', random_result.best_score_*100)
print('Best Params: ', random_result.best_params_)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best Score:  71.69790147009314
Best Params:  {'kernel': 'rbf', 'gamma': 0.1, 'C': 100}

In [26]:
#HYPEROPT

In [27]:
pip install hyperopt

Requirement already satisfied: hyperopt in c:\users\jines\anaconda3\lib\site-packages (0.2.7)
Requirement already satisfied: networkx>=2.2 in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (2.7.1)
Requirement already satisfied: tqdm in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (4.64.0)
Requirement already satisfied: cloudpickle in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (2.0.0)
Requirement already satisfied: py4j in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (0.10.9.7)
Requirement already satisfied: future in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (0.18.2)
Requirement already satisfied: six in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (1.16.0)
Requirement already satisfied: scipy in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (1.7.3)
Requirement already satisfied: numpy in c:\users\jines\anaconda3\lib\site-packages (from hyperopt) (1.21.5)
Requirement already satisfied: colorama in c:\users\jines\anaconda3\lib\site-packages (from tqdm->hyperopt) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [36]:

space= {'C': hp.choice('C', [0.1, 1, 10, 100, 1000]), 
              'gamma': hp.choice('gamma', [1, 0.1, 0.01, 0.001, 0.0001]),
              'kernel':  hp.choice('kernel', ['rbf'])}

In [37]:
# define objective function

def hyperparameter_tuning(params):
    clf = SVC(**params)
    acc = cross_val_score(clf, X_train, y_train,scoring="accuracy").mean()
    return {"loss": -acc, "status": STATUS_OK}

In [38]:

# Initialize trials object
trials = Trials()

best = fmin(
    fn=hyperparameter_tuning,
    space = space, 
    algo=tpe.suggest, 
    max_evals=50, 
    trials=trials
)

print("Best: {}".format(best))

100%|███████████████████████████████████████████████| 50/50 [00:31<00:00,  1.58trial/s, best loss: -0.7169790147009314]
Best: {'C': 3, 'gamma': 1, 'kernel': 0}

In [31]:
trials.results

[{'loss': -0.6661429693637079, 'status': 'ok'},
 {'loss': -0.6766019526428011, 'status': 'ok'},
 {'loss': -0.6392211872965997, 'status': 'ok'},
 {'loss': -0.6855459544383345, 'status': 'ok'},
 {'loss': -0.7140051621591291, 'status': 'ok'},
 {'loss': -0.6661429693637079, 'status': 'ok'},
 {'loss': -0.6750645269891147, 'status': 'ok'},
 {'loss': -0.6855459544383345, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.6735944338458086, 'status': 'ok'},
 {'loss': -0.6392211872965997, 'status': 'ok'},
 {'loss': -0.6661429693637079, 'status': 'ok'},
 {'loss': -0.6720570081921221, 'status': 'ok'},
 {'loss': -0.6676242845920772, 'status': 'ok'},
 {'loss': -0.6810795645830996, 'status': 'ok'},
 {'loss': -0.7020424194815396, 'status': 'ok'},
 {'loss': -0.6392099652115363, 'status': 'ok'},
 {'loss': -0.6750645269891147, 'status': 'ok'},
 {'loss': -0.6766019526428011, 'status': 'ok'},
 {'loss': -0.6676242845920772, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.7035237347099091, 'status': 'ok'},
 {'loss': -0.6855683986084614, 'status': 'ok'},
 {'loss': -0.6945011783189315, 'status': 'ok'},
 {'loss': -0.7110088654472001, 'status': 'ok'},
 {'loss': -0.6690719335652564, 'status': 'ok'},
 {'loss': -0.6720570081921221, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.6855683986084614, 'status': 'ok'},
 {'loss': -0.7169790147009314, 'status': 'ok'},
 {'loss': -0.6855459544383345, 'status': 'ok'},
 {'loss': -0.7035237347099091, 'status': 'ok'},
 {'loss': -0.6810795645830996, 'status': 'ok'},
 {'loss': -0.6825272135562788, 'status': 'ok'},
 {'loss': -0.6945011783189315, 'status': 'ok'},
 {'loss': -0.6750645269891147, 'status': 'ok'},
 {'loss': -0.6661429693637079, 'status': 'ok'},
 {'loss': -0.7110088654472001, 'status': 'ok'},
 {'loss': -0.6690719335652564, 'status': 'ok'},
 {'loss': -0.6676242845920772, 'status': 'ok'}]

In [32]:
trials.losses()

[-0.6661429693637079,
 -0.6766019526428011,
 -0.6392211872965997,
 -0.6855459544383345,
 -0.7140051621591291,
 -0.6661429693637079,
 -0.6750645269891147,
 -0.6855459544383345,
 -0.7169790147009314,
 -0.6735944338458086,
 -0.6392211872965997,
 -0.6661429693637079,
 -0.6720570081921221,
 -0.6676242845920772,
 -0.6810795645830996,
 -0.7020424194815396,
 -0.6392099652115363,
 -0.6750645269891147,
 -0.6766019526428011,
 -0.6676242845920772,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7169790147009314,
 -0.7035237347099091,
 -0.6855683986084614,
 -0.6945011783189315,
 -0.7110088654472001,
 -0.6690719335652564,
 -0.6720570081921221,
 -0.7169790147009314,
 -0.6855683986084614,
 -0.7169790147009314,
 -0.6855459544383345,
 -0.7035237347099091,
 -0.6810795645830996,
 -0.6825272135562788,
 -0.6945011783189315,
 -0.6750645269891147,
 -0.6661429693637079,
 -0.7110088654472001,
 -0.6690719335652564,
 -0.6676242845920772]

In [ ]:
##acuracy in SVM is only 65%.

In [33]:
#Cross Validation Scores in 5 fold cross validation [0.62011173 0.66853933 0.66853933 0.66292135 0.70786517]
#Average Cross Validation score in 5 fold cross validation :0.6655953800765803

In [34]:
 #Best possible model svm model in random search:  {'kernel': 'rbf', 'gamma': 0.1, 'C': 100}

In [35]:
# #best possible SVM model from hyperopt:
#Best: Best: {'C': 3, 'gamma': 1, 'kernel': 0}